.blobIcon {
  height: -80%;
  width: 50%;
  top: 0;
  right:-20%;
  bottom: 50%;
  left: 70%;
  max-width: 300%;
  max-height: 100%;
}
.blobIcon,
.logo,
.topNav {
  position: absolute;
  overflow: hidden;
}
.logo {
  top: calc(50% - 19px);
  left: 44px;
  background-color: var(--black-shades-black-shades);
  width: 176px;
  height: 38px;
}
.topNav {
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--white-shades-white-shades);
  box-shadow: -1px 2px 44px rgba(130, 130, 130, 0.11);
  height: 72px;
}
.aboutUs1 {
  position: relative;
  font-weight: 600;
}
.weAreXyz {
  margin: 0;
}
.weAreXyzContainer {
  position: relative;
  font-size: var(--body-r-h2-size);
  color: var(--white-shades-white-shades-4);
  text-align: center;
}
.text {
  position: absolute;
  top: calc(50% - 93.5px);
  left: calc(50% - 388px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.aboutUs,
.dizzyFaceRafiki1 {
  position: absolute;
  overflow: hidden;
}
.aboutUs {
  top: 927px;
  left: 0;
  background-color: var(--dark-blue-shades-dark-blue-shades);
  width: 100%;
  height: 485px;
}
.dizzyFaceRafiki1 {
  top: calc(50% - 249.5px);
  left: 896px;
  width: 500px;
  height: 500px;
}
.guideForExternalMentors {
  position: absolute;
  top: 5816px;
  left: 0;
  background-color: var(--dark-blue-shades-dark-blue-shades);
  width: 100%;
  height: 829px;
  overflow: hidden;
}
.teacherStudentRafiki1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 256px;
  height: 256px;
  overflow: hidden;
}
.maintainingStudentGuideRati {
  position: absolute;
  top: 282px;
  left: calc(50% - 99px);
  font-weight: 500;
  display: inline-block;
  width: 215px;
}
.pialgrism,
.studentGuide {
  position: relative;
  width: 256px;
  height: 366px;
}
.pialgrism {
  position: absolute;
  top: 114px;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--dark-blue-shades-dark-blue-shades);
  box-shadow: 0 3px 44px rgba(123, 123, 123, 0.11);
  height: 252px;
  overflow: hidden;
  opacity: 0.05;
}
.detectPlagiarismEasilyContainer {
  position: absolute;
  top: 282px;
  left: calc(50% - 108px);
  font-weight: 500;
  display: inline-block;
  width: 215px;
}
.frameParent,
.studentGuideParent {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.studentGuideParent {
  flex-direction: row;
  gap: var(--gap-119xl);
}
.frameParent {
  flex-direction: column;
  gap: 52px;
  text-align: center;
  font-size: var(--body-r-h3-size);
  color: var(--white-shades-white-shades-7);
}
.features,
.featuresParent {
  position: absolute;
  height: 1088px;
}
.featuresParent {
  top: 0;
  left: calc(50% - 718px);
  display: flex;
  flex-direction: column;
  padding: 111px 196px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
}
.features {
  top: 1412px;
  left: 2px;
  width: 100%;
  color: var(--black-shades-black-shades);
}
.homepage {
  position: relative;
  background-color: var(--white-shades-white-shades);
  width: 100%;
  height: 7981px;
  overflow: hidden;
  text-align: left;
  font-size: var(--sub-h-h2-size);
  color: var(--white-shades-white-shades);
  font-family: var(--body-r-h3);
}
